frontend http_front
    bind *:80
    default_backend web_servers

backend web_servers
    mode http
    balance roundrobin
    option httpchk GET /health
    {% for host in groups['webservers'] %}
      {% for ip in hostvars[host]['ansible_host'] }}
        server {{ host ]} {{ ip }}:80 check
      {% endfor %}
    {% endfor %}
